@import "tailwindcss";


::-webkit-scrollbar{
    display: none;
}

@layer theme{
    .bg_items{
        box-shadow: 8px 4px 22px rgba(0, 0, 0, 0.18);
    }
    .bg_second{
        box-shadow:  -8px 8px 12px rgba(0, 0, 0, 0.18);
    }
}

@layer utilities {
    .link_theme{
        @apply border border-[gray] text-[12px] text-gray-600 font-medium px-4 py-1 rounded-full;
    }
}
