@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


::-webkit-scrollbar{
    display: none;
}



@layer theme{
    .bg_items{
        box-shadow: 8px 4px 22px rgba(0, 0, 0, 0.18);
    }
    .bg_second{
        box-shadow:  -8px 8px 12px rgba(0, 0, 0, 0.18);
    }
    .bg_sub{
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.14);
    }
}

@layer utilities {
    .link_theme{
        border: 1px solid gray;
        color: #5a677b;
        font-weight: 500;
        padding: 2px 16px;         
    }
    .flex_col{
        display: flex;
        flex-direction: column;
    }
    .just_col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    .items_col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title_text{
        font-size: 28px;
        font-weight: 600;
        color:  #1a1a1a ;
        text-transform: capitalize;
    }
    .sub_text{
        font-size: 14px;
        font-weight: 450;
        color: #424b58;
    }
    .discription{
        font-size: 12px;
        font-weight: 450;
        color: #424b58;
    }
    .greenBtn:hover{
        background-color: #238059c0;
        color:#175435 ;
        transition: all 0.3s ease-in-out;
    }
    .clip{
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 65% 30%, 65% 100%, 35% 100%, 35% 30%, 0% 30%);
    }
}
h2{
    font-family: "Playfair Display", serif;
}
main{
    font-family: "Inter", sans-serif;
}